@import url("https://fonts.googleapis.com/css2?family=Gabarito&display=swap");
@import url("https://fonts.cdnfonts.com/css/pokemon-hollow");
@import url("https://fonts.cdnfonts.com/css/bionic-comic");
@import url("https://fonts.cdnfonts.com/css/adventure-subtitles-2");
@import url("https://fonts.cdnfonts.com/css/chloreal");
@import url("./KeyFrames.css");

.container_carta {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  width: 100%;
  top: 600px;
  transform: translate(-50%, -50%);
}

.carta {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 22vw;
  height: 35vw;
  border-radius: 1vw;
  border: 0.78vw solid rgb(119, 119, 119);
  box-shadow: 14px 14px 30px 10px black;
  cursor: pointer;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.carta_shiny {
  animation: colorBorderMove 8s infinite ease-in-out;
}

.carta:hover {
  transform: scale(1.03);
}

.water_carta {
  background-image: url("../../public/water_card.jpg");
  background-size: 220%;
}
.bug_carta {
  background-image: url("../../public/bug_card.jpg");
  background-size: 300%;
}
.dark_carta {
  background-image: url("../../public/dark_card.jpg");
  background-size: 150%;
}
.dragon_carta {
  background-image: url("../../public/dragon_card.jpg");
  background-size: 260%;
}
.electric_carta {
  background-image: url("../../public/electric_card.jpg");
  background-size: 200%;
  background-position: center;
}
.fairy_carta {
  background-image: url("../../public/fairy_card.jpg");
  background-size: 300%;
}
.fighting_carta {
  background-image: url("../../public/fighting_card.jpeg");
  background-size: 150%;
  background-position: top;
}
.fire_carta {
  background-image: url("../../public/fire_card.jpeg");
  background-size: 100%;
}
.flying_carta {
  background-image: url("../../public/flying_card.jpeg");
  background-size: 100%;
}
.ghost_carta {
  background-image: url("../../public/ghost_card.jpeg");
  background-size: 100%;
}
.grass_carta {
  background-image: url("../../public/grass_card.jpeg");
  background-size: 100%;
}
.ground_carta {
  background-image: url("../../public/ground_card.jpeg");
  background-size: 100%;
}
.ice_carta {
  background-image: url("../../public/ice_card.jpeg");
  background-size: 100%;
}
.normal_carta {
  background-image: url("../../public/normal_card.jpeg");
  background-size: 100%;
}
.poison_carta {
  background-image: url("../../public/poison_card.jpeg");
  background-size: 100%;
}
.psychic_carta {
  background-image: url("../../public/psychic_card.jpeg");
  background-size: 100%;
}
.rock_carta {
  background-image: url("../../public/rock_card.jpeg");
  background-size: 100%;
}
.steel_carta {
  background-image: url("../../public/steel_card.jpeg");
  background-size: 200%;
}

.topo_carta {
  font-family: "Gabarito", sans-serif;
  white-space: nowrap;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 5%;
}

.nome_pokemon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Adventure Subtitles", sans-serif;
  text-transform: capitalize;
  background-color: rgba(235, 235, 235, 0.937);
  margin-left: 7%;
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 3%;
  padding-bottom: 3%;
  border-radius: 20%;
  width: 20%;
  font-size: 1.5vw;
}

.bloco_raridade {
  position: relative;
  background-color: chartreuse;
  width: 35%;
}

.container_raridade {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transform: translate(30%, -130%);
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 20px;
  background-color: rgb(0, 0, 0);
  text-overflow: ellipsis;
  white-space: nowrap;
  box-shadow: 10px -5px 30px 5px black;
  font-weight: 1000;
  width: 100%;
  font-size: 1.5vw;
}

.COMUM {
  background-color: rgb(0, 202, 0);
  border: 1px solid black;
}

.INCOMUM {
  background-color: rgb(0, 0, 165);
  color: aliceblue;
  border: 3px solid rgb(255, 255, 255);
}

.RARO {
  background-color: rgb(116, 0, 194);
  border: 3px solid rgb(255, 255, 255);
}

.MUITO-RARO {
  background-color: rgb(255, 145, 0);
  color: aliceblue;
  border: 3px solid rgb(255, 255, 255);
}

.ULTRA-RARO {
  background-color: red;
  border: 3px solid rgb(255, 255, 255);
}

.LENDÁRIO {
  background-color: yellow;
  position: absolute;
}
.LENDÁRIO::after {
  content: "";
  position: absolute;
  top: -25%;
  left: -5%;
  right: 0;
  bottom: 0;
  width: 110%;
  height: 145%;
  z-index: -2;
  background-image: url("https://media.giphy.com/media/xThuWcaa4U4XZQDgvm/giphy.gif");
  border-radius: 20px;
}
.LENDÁRIO::before {
  background-color: yellow;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
  background-size: cover;
  border-radius: 20px;
}

.MÍTICO {
  background-image: url("https://media.giphy.com/media/dBxDfKQKl7lOCv4DY5/giphy-downsized-large.gif");
  background-size: cover;
  color: aliceblue;
  border: 4px solid gold;
}

.DIVINO {
  background-color: white;
}

.container_imagem_carta {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 55%;
  background-color: rgba(165, 42, 42, 0);
  overflow: hidden;
  border: 0.6vw solid rgb(0, 0, 0);
  border-radius: 6%;
}

.imagem_carta {
  max-width: 100%;
}

.conteudo_carta {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 35%;
  background-color: rgba(235, 235, 235, 0.937);
  border: 2px solid black;
  border-radius: 5%;
}

.rodape_carta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 5%;
}

.container_conteudo_carta_esquerdo {
  display: flex;
  gap: 3%;
  flex-direction: column;
  width: 70%;
  height: 100%;
  justify-content: center;
  font-size: 1.44vw;
  flex-grow: 1;
  margin-top: -10%;
}

.stats_name {
  font-family: "Pokemon Solid", sans-serif;
  letter-spacing: 0.2vw;
  font-size: 1vw;
  font-weight: 700;
  font-style: oblique;
}

.stats_value {
  font-family: "Pokemon Solid", sans-serif;
  font-weight: 700;
  font-style: oblique;
}

.container_conteudo_carta_direito {
  display: flex;
  gap: 3%;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
  font-size: 1.44vw;
  flex-grow: 2;
  margin-top: -10%;
}

.status_total {
  display: flex;
  background-color: rgb(0, 0, 0);
  color: aliceblue;
  padding: 2%;
  border-radius: 1vw;
  border: 2px solid;
  margin-bottom: 3%;
  margin-left: 2%;
  font-size: 1.19vw;
}

.tipagem {
  text-transform: capitalize;
  font-family: "Bionic Comic", sans-serif;
  display: flex;
  background-color: antiquewhite;
  padding: 2%;
  border-radius: 1vw;
  border: 2px solid;
  margin-bottom: 3%;
  margin-right: 3%;
  font-size: 1.53vw;
}

.stats_values {
  font-family: "Bionic Comic", sans-serif;
}

.container_id_carta {
  position: absolute;
  top: 86%;
  left: 2%;
  transform: translate(10%, 10%);
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
}

.container_gen_carta {
  position: absolute;
  top: 94%;
  left: 68%;
  white-space: nowrap;
  transform: translate(-50%, -50%);
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
}

.container_body_shiny {
  position: absolute;
  top: 180px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.botao_shiny {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 3px solid black;
  border-radius: 10px;
  background: rgb(131, 58, 180);
  animation: backgroundMove 10s infinite ease-in-out;
  cursor: pointer;
}

.botao_normal {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 3px solid black;
  border-radius: 10px;
  background: rgb(188, 188, 188);
  cursor: pointer;
}

.icone_shiny_imagem {
  font-family: "Chloreal", sans-serif;
  position: absolute;
  letter-spacing: 0.2vw;
  top: 5%;
  left: 5%;
  color: aqua;
  font-size: 1vw;
  animation: colorFontMove 7s infinite ease-in-out;
}

@media only screen and (max-width: 900px) {
  .container_carta {
    top: 420px;
  }

  .carta {
    width: 60vw;
    height: 90vw;
  }

  .nome_pokemon {
    font-size: 2.3vw;
  }

  .bloco_raridade {
    width: 20%;
  }

  .container_raridade {
    transform: translate(10%, -120%);
    font-size: 2vw;
  }

  .container_imagem_carta {
    border: 1.3vw solid rgb(0, 0, 0);
  }

  .container_conteudo_carta_esquerdo {
    font-size: 2.8vw;
  }

  .stats_name {
    font-family: "Pokemon Solid", sans-serif;
    letter-spacing: 0.2vw;
    font-size: 2.5vw;
    font-weight: 700;
    font-style: oblique;
  }

  .container_conteudo_carta_direito {
    font-size: 2.8vw;
  }

  .status_total {
    font-size: 2.5vw;
  }

  .tipagem {
    font-size: 2.6vw;
  }
}

@media only screen and (max-width: 3840px) and (min-width: 900px) {
  .nome_pokemon {
    font-size: 1vw;
  }

  .container_raridade {
    transform: translate(10%, -120%);
    font-size: 1vw;
  }

  .container_imagem_carta {
    border: 0.7vw solid rgb(0, 0, 0);
  }

  .container_conteudo_carta_esquerdo {
    font-size: 1.2vw;
  }

  .stats_name {
    font-family: "Pokemon Solid", sans-serif;
    letter-spacing: 0.2vw;
    font-size: 1vw;
    font-weight: 700;
    font-style: oblique;
  }

  .container_conteudo_carta_direito {
    font-size: 1.2vw;
  }

  .status_total {
    font-size: 1vw;
  }

  .tipagem {
    font-size: 1vw;
  }
}
