.container_conteudo_virado {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  top: 1rem;
  width: 21rem;
  height: 30.5rem;
}

.container_imagens_virado {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-grow: 1;
  width: 100%;
  height: 12%;
}

.container_descrição_virado {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  width: 100%;
  height: 12%;
}

.container_fraquezas_virado {
  display: flex;
  align-items: center;
  gap: 5px;
  flex-grow: 1;
  width: 105%;
  height: 12%;
}

.container_arvore_evolutiva_virado {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  border: 3px solid black;
  flex-grow: 1;
  width: 100%;
  height: 12%;
}

.container_imagem_esquerda_virado,
.container_imagem_direita_virado {
  display: flex;
  width: 50%;
  height: 90%;
  border: 1px solid black;
  overflow: hidden;
  background-color: aliceblue;
}

.container_imagem_esquerda_virado {
  margin-left: 30px;
}

.container_imagem_direita_virado {
  margin-right: 30px;
}

.imagem_esquerda_virado,
.imagem_direita_virado {
  width: 100%;
}

.moldura_descrição_virado {
  display: flex;
    border: 3px solid black;
    width: 80%;
    height: 50%;
    padding: 20px;
    background-color: aliceblue;
    overflow: auto;
}

.descrição_virado {
  font-size: 100%;
}
