.container_conteudo_virado {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
}

.container_imagens_virado {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 100%;
  height: 23%;
}

.container_fraquezas_virado {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  height: 44%;
  overflow: auto;
  padding-top: 7%;
  padding-bottom: 7%;
}

.container_arvore_evolutiva_virado {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(240, 248, 255);
  border: 3px solid black;
  width: 98%;
  height: 30%;
}

.container_imagem_esquerda_virado,
.container_imagem_direita_virado {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90%;
  border: 1px solid black;
  overflow: hidden;
  background-color: aliceblue;
}

.container_imagem_esquerda_virado {
  margin-left: 10%;
}

.container_imagem_direita_virado {
  margin-right: 10%;
}

.imagem_esquerda_virado,
.imagem_direita_virado {
  width: 130%;
}

@media only screen and (max-width: 900px) {
  .container_fraquezas_virado {
    width: 100%;
  }

  .container_arvore_evolutiva_virado {
    width: 98%;
  }
}
