@import url("https://fonts.googleapis.com/css2?family=Gabarito&display=swap");
@import url("https://fonts.cdnfonts.com/css/pokemon-hollow");
@import url("https://fonts.cdnfonts.com/css/bionic-comic");
@import url("https://fonts.cdnfonts.com/css/adventure-subtitles-2");

.container_carta {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.carta {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 22rem;
  height: 520px;
  border-radius: 20px;
  border: 0.8rem solid rgb(27, 27, 27);
  box-shadow: 14px 14px 30px 10px black;
  cursor: pointer;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.carta:hover {
  transform: scale(1.03);
}

.water_carta {
  background-image: url("../../public/water_card.jpg");
  background-size: 220%;
  border-color: rgb(208, 255, 0);
  border-color: rgb(9, 54, 255);
}
.bug_carta {
  background-image: url("../../public/bug_card.jpg");
  background-size: 300%;
  border-color: rgb(158, 255, 103);
}
.dark_carta {
  background-image: url("../../public/dark_card.jpg");
  background-size: 150%;
}
.dragon_carta {
  background-image: url("../../public/dragon_card.jpg");
  background-size: 260%;
  border-color: rgb(69, 212, 255);
}
.electric_carta {
  background-image: url("../../public/electric_card.jpg");
  background-size: 200%;
  background-position: center;
  border-color: rgb(208, 255, 0);
}
.fairy_carta {
  background-image: url("../../public/fairy_card.jpg");
  background-size: 300%;
  border-color: rgb(255, 0, 179);
}
.fighting_carta {
  background-image: url("../../public/fighting_card.jpeg");
  background-size: 150%;
  border-color: rgb(255, 153, 0);
  background-position: top;
}
.fire_carta {
  background-image: url("../../public/fire_card.jpeg");
  background-size: 100%;
  border-color: rgb(255, 0, 0);
}
.flying_carta {
  background-image: url("../../public/flying_card.jpeg");
  background-size: 100%;
  border-color: rgb(171, 205, 255);
}
.ghost_carta {
  background-image: url("../../public/ghost_card.jpeg");
  background-size: 100%;
  border-color: rgb(73, 31, 139);
}
.grass_carta {
  background-image: url("../../public/grass_card.jpeg");
  background-size: 100%;
  border-color: rgb(74, 202, 0);
}
.ground_carta {
  background-image: url("../../public/ground_card.jpeg");
  background-size: 100%;
  border-color: rgb(122, 60, 31);
}
.ice_carta {
  background-image: url("../../public/ice_card.jpeg");
  background-size: 100%;
  border-color: rgb(22, 239, 255);
}
.normal_carta {
  background-image: url("../../public/normal_card.jpeg");
  background-size: 100%;
  border-color: rgb(191, 191, 191);
}
.poison_carta {
  background-image: url("../../public/poison_card.jpeg");
  background-size: 100%;
  border-color: rgb(169, 65, 255);
}
.psychic_carta {
  background-image: url("../../public/psychic_card.jpeg");
  background-size: 100%;
  border-color: rgb(255, 0, 212);
}
.rock_carta {
  background-image: url("../../public/rock_card.jpeg");
  background-size: 100%;
  border-color: rgb(73, 29, 11);
}
.steel_carta {
  background-image: url("../../public/steel_card.jpeg");
  background-size: 200%;
  border-color: rgb(167, 167, 167);
}

.topo_carta {
  font-family: "Gabarito", sans-serif;
  font-size: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 106%;
  height: 5%;
}

.nome_pokemon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Adventure Subtitles", sans-serif;
  text-transform: capitalize;
  background-color: rgba(235, 235, 235, 0.937);
  margin-left: 7%;
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 3%;
  padding-bottom: 3%;
  border-radius: 20%;
}

.bloco_raridade {
  position: relative;
}

.container_raridade {
  display: flex;
  position: absolute;
  transform: translate(-63%, -100%);
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 20px;
  background-color: rgb(0, 0, 0);
  text-overflow: ellipsis;
  white-space: nowrap;
  box-shadow: 10px -5px 30px 5px black;
  font-weight: 1000;
}

.COMUM {
  background-color: rgb(0, 202, 0);
  border: 1px solid black;
}

.INCOMUM {
  background-color: rgb(0, 0, 165);
  color: aliceblue;
  border: 3px solid rgb(255, 255, 255);
}

.RARO {
  background-color: rgb(116, 0, 194);
  border: 3px solid rgb(255, 255, 255);
}

.MUITO-RARO {
  background-color: rgb(255, 145, 0);
  color: aliceblue;
  border: 3px solid rgb(255, 255, 255);
}

.ULTRA-RARO {
  background-color: red;
  border: 3px solid rgb(255, 255, 255);
}

.LENDÁRIO {
  background-color: yellow;
  position: absolute;
}
.LENDÁRIO::after {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: 0;
  bottom: 0;
  width: 110%;
  height: 145%;
  z-index: -2;
  background-image: url("https://media.giphy.com/media/xThuWcaa4U4XZQDgvm/giphy.gif");
  border-radius: 20px;
}
.LENDÁRIO::before {
  background-color: yellow;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
  background-size: cover;
  border-radius: 20px;
}

.MÍTICO {
  background-image: url("https://media.giphy.com/media/dBxDfKQKl7lOCv4DY5/giphy-downsized-large.gif");
  background-size: cover;
  color: aliceblue;
  border: 4px solid gold;
}

.DIVINO {
  background-color: white;
}

.container_imagem_carta {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 55%;
  background-color: rgba(165, 42, 42, 0);
  overflow: hidden;
  border: 8px solid rgb(0, 0, 0);
  border-radius: 20px;
}

.imagem_carta {
  max-width: 100%;
}

.conteudo_carta {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 96%;
  height: 35%;
  background-color: rgba(235, 235, 235, 0.937);
  border: 2px solid black;
  border-radius: 40px;
}

.rodape_carta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 5%;
}

.container_conteudo_carta_esquerdo {
  display: flex;
  gap: 2vw;
  flex-direction: column;
  width: 70%;
  height: 100%;
  justify-content: center;
  font-size: 100%;
  flex-grow: 1;
}

.stats_name {
  font-family: "Pokemon Solid", sans-serif;
  letter-spacing: 0.2rem;
  font-size: 0.7rem;
  font-weight: 700;
  font-style: oblique;
}

.stats_value {
  font-family: "Pokemon Solid", sans-serif;
  letter-spacing: 0.2rem;
  font-size: 1rem;
  font-weight: 700;
  font-style: oblique;
}

.container_conteudo_carta_direito {
  display: flex;
  gap: 2vw;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  font-size: 100%;
}

.status_total {
  display: flex;
  background-color: rgb(0, 0, 0);
  color: aliceblue;
  padding: 2%;
  border-radius: 10px;
  border: 2px solid;
  margin-bottom: 3%;
  margin-left: 7%;
  font-size: 80%;
}

.tipagem {
  text-transform: capitalize;
  font-family: "Bionic Comic", sans-serif;
  display: flex;
  background-color: antiquewhite;
  padding: 2%;
  border-radius: 10px;
  border: 2px solid;
  margin-bottom: 3%;
  margin-right: 7%;
  font-size: 90%;
}

.stats_values {
  font-family: "Bionic Comic", sans-serif;
}


