.container_imagens {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.imagem_pokemon_evolução {
  width: 70%;
  margin-top: -10px;
}

.imagem_seta {
  width: 5cqmin;
}

.container_primeiro_pokemon,
.container_segundo_pokemon,
.container_terceiro_pokemon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nome_poke_primeiro,
.nome_poke_segundo,
.nome_poke_terceiro {
    margin-top: -30%;
}