@import url("https://fonts.cdnfonts.com/css/pokemon-hollow");

.button_randomizer {
  display: flex;
  font-family: "Pokemon Solid", sans-serif;
  align-items: center;
  justify-content: center;
  height: 6%;
  background-color: rgb(255, 255, 123);
  border: 0.5vw solid rgb(0, 0, 143);
  border-radius: 1vw;
  letter-spacing: 0.3vw;
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translate(-50%, 15%);
  cursor: pointer;
}

.texto_botao {
  font-size: 1vw;
  white-space: nowrap;
  flex-basis: 100%;
}

.clip_loader {
  background-image: url(../../public/icone_pokebola.png);
  background-size: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 900px) {
  .texto_botao {
    font-size: 3vw;
    white-space: nowrap;
    flex-basis: 100%;
  }

  .button_randomizer {
    border: 1.4vw solid rgb(0, 0, 143);
  }
}
