.container_imagens {
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.imagem_pokemon_evolução {
  max-width: 100%;
  max-height: 60%;
}

.imagem_seta_2 {
  width: 5%;
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
}

.imagem_seta_3 {
  width: 5%;
  position: absolute;
  left: 32%;
  top: 60%;
  transform: translate(-50%, -50%);
}

.imagem_seta_4 {
  width: 5%;
  position: absolute;
  left: 69%;
  top: 60%;
  transform: translate(-50%, -50%);
}

.container_pokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.container_pokemon_loading {
  opacity: 0;
}

.nome_poke {
  font-size: 1vw;
  margin-bottom: 0.2%;
  margin-top: 0.1%;
}

.icone_troca {
  cursor: pointer;
  width: 12%;
}

.icone_pokebola {
  position: absolute;
  left: 44%;
  top: 83%;
  transform: translate(-50%, -50%);
  width: 14%;
  animation: rotate infinite 0.6s ease-in-out;
}

.container_texto_pokemon_solo {
  /* background-color: aqua; */
  width: 30%;
  position: absolute;
  left: 18%;
  top: 65%;
  transform: translate(-50%, -50%);
  text-align: left;
}

.texto_pokemon_solo {
  font-weight: 1000;
  font-size: 1vw;
}

@media only screen and (max-width: 900px) {
  .nome_poke {
    font-size: 2.3vw;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
